body {
    margin: 0;
    padding: 0;
    background-color: #0077be; /* Aqua-sea color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.title {
    color: #fff; /* White color */
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
